@import '../../scss/abstract/mixins.scss';
@import '../../scss/base/constants';

.deploy-course {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 100%;
  background: rgba(204, 204, 204, 0.9);
}


