$color-primary: #f0f3f8;
$color-primary-light: #ffffff;
$color-primary-dark: #f7f7f7;

$color-button-primary-light: #f0f3f8;
$color-button-primary-dark: #0080ff;

$color-text-primary: #0080ff;
$color-text-dark: #7788a7;
$color-text-dark-s: #99a7c1;
$color-text-brutal: black;

$color-light-s: #fafafa;
$color-light-l: #cdcdcd;
$color-light-xl: #ffffff;

$color-text-light: #ffffff;
// $color-text-dark: #777777;
// $color-text-dark-s: #999999;
$color-text-hovered: #50abff;
$color-text-hovered-dark: #0084ff;
$color-text-hovered-free: #17e501;

$color-dark-s: #cdcdcd;
$color-dark-l: #545454;
$color-dark-xl: #292929;
$color-dark-xxl: #b2b2b2;
$color-dark-overlay: rgba(41, 41, 41, 0.6);

$bg-light-s: #f6f6f6;
$bg-light-l: #fafafa;
$bg-ligth-xl: #ffffff;
$bg-light-xxl: #f5f5f5;

$alpha-background: #f6f5f1;
$alpha-background-white: #ffffff;
$alpha-light: #f1eeee;
$alpha-light-s: #f3f3f3;
$alpha-text-light: #443c44;

$prime-3: #c4f7ae;

$alpha-s: #cc1a1a;
$alpha-m: #7b1111;

$content-width: 1600px;
$tablet-width: 1200px;
$mobile-width: 600px;
