@import '../../../../scss/abstract/mixins.scss';
@import '../../../../scss/base/constants.scss';

.event-page {
  &__wrapper {
    width: 1200px;
    display: flex;
    justify-content: center;
    margin-top: 35px;
    @include media-mobile {
      flex-direction: column;
      width: 100%;
      align-items: center;
    }
  }
  &__content {
    @include media-mobile {
      width: 95%;
    }
  }
}

.event-page-content {
  &__program {
    margin-top: 35px;
    padding-bottom: 35px;
    border-bottom: 2px solid #ebebeb;
  }
  &__title {
    font-size: 18px;
    margin-bottom: 10px;
    color: $color-text-hovered-dark;
    font-weight: 600;
    display: flex;
  }
  &__text {
  }
  &__points {
    padding-bottom: 25px;
    border-bottom: 2px solid #ebebeb;
  }
  &__points-list {
    padding-left: 0;
  }
  &__points-item {
  }

  &__webinars {
    margin: 25px 0 0;
    display: flex;
    flex-direction: column;
  }
  &__webinars-list {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__li {
    display: flex;
    align-items: center;
  }
}
