.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.44);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  z-index: 1000;
  transition: 0.5s;
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    transition: 0.4s all;
    h2 {
      font-weight: bold;
    }
    p {
      font-weight: normal;
    }
  }
  &.active {
    opacity: 1;
    pointer-events: all;
  }
}
.modal__info{
  .modal{
    justify-content: center;
    align-items: center;
    &__content {
      padding: 20px;
      transform: scale(0.5);
      margin: 10px;
      border-radius: 10px;
      &.active {
        transform: scale(1);
      }
    }
  }
}
.modal__login {
  .modal {
    justify-content: center;
    &__content {
      padding: 20px;
      transform: scale(0.5);
      margin: 10px;
      border-radius: 10px;
      &.active {
        transform: scale(1);
      }
    }
  }
}

.modal__reg {
  .modal {
    justify-content: flex-end;
  }
}
